.nftlink{
    background: hsla(338, 100%, 50%, 1);

    background: linear-gradient(45deg, hsla(338, 100%, 50%, 1) 39%, hsla(281, 100%, 50%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(338, 100%, 50%, 1) 39%, hsla(281, 100%, 50%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(338, 100%, 50%, 1) 39%, hsla(281, 100%, 50%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF005E", endColorstr="#AE00FF", GradientType=1 );
    color:white;
    font-weight: bold;
    font-size:"70px";
    vertical-align: middle;
    height: 42px;
    margin-top: px;
    width:150px;
    border-radius: 5px;
    text-align: center;
}

.nftlink:hover{
    background: hsla(338, 100%, 50%, 1);

    background: linear-gradient(225deg, hsla(338, 100%, 50%, 1) 39%, hsla(281, 100%, 50%, 1) 100%);
    
    background: -moz-linear-gradient(225deg, hsla(338, 100%, 50%, 1) 39%, hsla(281, 100%, 50%, 1) 100%);
    
    background: -webkit-linear-gradient(225deg, hsla(338, 100%, 50%, 1) 39%, hsla(281, 100%, 50%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF005E", endColorstr="#AE00FF", GradientType=1 );
}