.walletbutton{
    /* background-color: rgb(242, 78, 105); */
  
    /* background-color:rgb(0, 75, 215); */
    background: hsla(338, 100%, 50%, 1);

    background: linear-gradient(45deg, hsla(338, 100%, 50%, 1) 39%, hsla(281, 100%, 50%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(338, 100%, 50%, 1) 39%, hsla(281, 100%, 50%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(338, 100%, 50%, 1) 39%, hsla(281, 100%, 50%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF005E", endColorstr="#AE00FF", GradientType=1 );
    color:white;
    font-weight: bold;
    font-size:"70px";
    vertical-align: middle;
    height: 42px;
    margin-top: px;
    width:250px;
    border-radius: 15px;
    text-align: center;
}

.walletbutton:hover{
    background: hsla(338, 100%, 50%, 1);

background: linear-gradient(225deg, hsla(338, 100%, 50%, 1) 39%, hsla(281, 100%, 50%, 1) 100%);

background: -moz-linear-gradient(225deg, hsla(338, 100%, 50%, 1) 39%, hsla(281, 100%, 50%, 1) 100%);

background: -webkit-linear-gradient(225deg, hsla(338, 100%, 50%, 1) 39%, hsla(281, 100%, 50%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF005E", endColorstr="#AE00FF", GradientType=1 );
color:white;
}