.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -999;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
   
  
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: fadeInOut ease-in-out 12s;
    }
    .navigation {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        list-style: none;
        cursor: pointer;
        margin: 0 10px;
        border-radius: 4px;
        background: white;
        padding: 3px 3px 0;
        opacity: 0.75;
        transition: 0.5s;
        &:hover {
          opacity: 1;
        }
        img {
          width: 72px;
          height: 48px;
          transition: 0.5s;
          &:hover {
            width: 108px;
            height: 72px;
          }
        }
      }
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @media all and (max-width: 720px) {
    .background {
      .navigation {
        li {
          padding: 1.5px 1.5px 0;
          opacity: 1;
          img {
            width: 48px;
            height: 36px;
            transition: 0.5s;
            &:hover {
              width: 60px;
              height: 45px;
            }
          }
        }
      }
    }
  }
  